PORT=4003
NODE_ENV=development

DB_HOST=organization-db
DB_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=organizationdb

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_QUEUE=organization_queue
RMQ_EVENTS_QUEUE_ORGANIZATION=events.organization
RMQ_EVENTS_QUEUE_AUTHZ=events.user-organization

REDIS_HOST=redis
REDIS_PORT=6379